/**
* App styles
*
**/
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  margin-bottom: 150px;
  z-index: 0;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.8;
  color: #818181;
  opacity:0.80;
}

.hidden {
  visibility: hidden;
}

.logo {
  width: 180px;
  color: #2e8bcc;
  font-size: 200px;
}

.logo-small {
  color: #2e8bcc;
  font-size: 50px;
}

.bg-grey {
  background-color: #f6f6f6;
}

.jumbotron {


  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Noto Sans', sans-serif;
  color: #fff;

}

.navbar {
  margin-bottom: 0;
  background-color: #2e8bcc;
  z-index: 9999;
  border: 0;
  color: #fff !important;
  line-height: 1.42857143 !important;
  border-radius: 0;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #2e8bcc !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.navbar-default .navbar-nav > .open > a {
  color: #2e8bcc !important;
  background-color: #fff !important;
}

.dropdown-menu  {
  background-color: #2e8bcc !important;
  border-radius: 0;
}

.dropdown-menu li a {
  color: #fff !important;
}

.dropdown-menu li {
  color: #fff !important;
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  background-color: #fff!important;
  color: #2e8bcc !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  background-color: #fff!important;
  color: #2e8bcc !important;
} 

.dropdown-menu li a:hover, 
.dropdown-menu li.active a,
.dropdown-menu li.focus a {
  background-color: #fff!important;
  color: #2e8bcc !important;
}

.icon-bar {
  background-color: #fff !important;
}
.container-fluid {
  padding: 60px 50px;
}

.btn-default {
    color: #fff !important;
    background-color: #2e8bcc;
    border-color: #fff;
    border-radius: 0px !important ;
}

.btn-stockeleven {
    color: #fff !important;
    background-color: #2e8bcc !important;
    border-color: #fff;
    border-radius: 0px;
}

.btn-stockeleven:hover,
.btn-default:hover,
.btn-default:focus {
    color:  #2e8bcc !important;
    background-color: #fff !important;
    border-color: #2e8bcc;
}

.btn-stockeleven-trsp {
    background-color: transparent !important;
    border-radius: 0px;
}

.btn-stockeleven-trsp:hover {
    background-color: transparent !important;
    border-color: #fff;
    border-radius: 0px;
}

.label {
   border-radius: 0px !important ;
}

.pagination > li > a, .pagination > li > span{
  color:  #2e8bcc;
}

.pagination > li > a:hover, .pagination > li > span:hover,
.pagination > li > a:active, .pagination > li > span:active{
  color:  #023e30;
}

.pagination > .active > a, .pagination > .active  > span,
.pagination > .active > a:hover, .pagination > .active > a:active,
.pagination > .active > a:active, .pagination > .active  > span:active {
    color: #fff;
    background-color: #2e8bcc;
    border-color:  #2e8bcc;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail img {
  margin-bottom: 10px;
}

.form-control {
  border-radius: 0px !important;
}

/* List and portfolios styles */
.app-section {
  background-color: #fff;
  background-size: cover;
  overflow-y: auto;
  border-collapse:
}

.list-box {
  min-height: 200px;
  min-width: 200px;
  max-height: 200px;
  max-width: 200px;
  border-radius: 0px;
  cursor: pointer;
  background-color: #2e8bcc;
  border-style: none;
  text-align: center;
  display: block;
  margin-left: 0;
  margin-right: -0.625rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.list-box-disabled {
  min-height: 200px;
  min-width: 200px;
  max-height: 200px;
  max-width: 200px;
  border-radius: 0px ;
  background-color: #C0C0C0;
  border-style: none;
  text-align: center;
  float: left;
}

@media (max-width: 33.9em){
  .list-box {
      margin-left: -0.625rem;
  }
   .list-box-disabled {
      margin-left: -0.625rem;
  }

}

.row [class^="col-"]:first-child>.list-box {

    margin-left: -0.625rem;
}

.row [class^="col-"]:first-child>.list-box-disabled {

    margin-left: -0.625rem;
}

.link-text {
  padding-top: 15px;
  color: #fff;
  text-decoration: none !important;
}

a:hover {
  text-decoration:none;
}


.link-text-l2 {
  color: #fff;
}


.link-text-hidden {
  padding-top: 15px;
  display: none;

}

.list-box:hover,
.list-box:focus,
.list-box:active,
.list-box-disabled:hover,
.list-box-disabled:focus,
.list-box-disabled:active {
  box-shadow: 10px 10px 5px #222;
}

.list-box:hover .link-text-l2,
.list-box:focus .link-text-l2,
.list-box:active .link-text-l2,
.list-box-disabled:hover .link-text-l2,
.list-box-disabled:focus .link-text-l2,
.list-box-disabled:active .link-text-l2 {
 display: none;
}

.list-box:hover .link-text,
.list-box:focus .link-text,
.list-box:active .link-text,
.list-box-disabled:hover .link-text,
.list-box-disabled:focus .link-text,
.list-box-disabled:active .link-text {
 display: none;
}

.list-box:hover .link-text-hidden,
.list-box:focus .link-text-hidden,
.list-box:active .link-text-hidden,
.list-box-disabled:hover .link-text-hidden,
.list-box-disabled:focus .link-text-hidden,
.list-box-disabled:active .link-text-hidden {
 text-decoration: none;
 display: block;
 color: #fff;
}

/* Footer */

.container-fluid .text-muted {
  padding-right: 20px;
  padding-top: 20px;

  color: #fff;
}

footer.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
  background: #2e8bcc;
  overflow: hidden;
}

.loading {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #818181;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #2e8bcc;
}

.carousel-indicators li {
  border-color: #2e8bcc;
}

.carousel-indicators li.active {
  background-color: #2e8bcc;
}

.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

.item span {
  font-style: normal;
}


.sk-cube-grid {
  width: 140px;
  height: 140px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #2e8bcc;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 2s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

.slide-down {
    /* The name of the animation */
    animation-name: slide-down;
    -webkit-animation-name: slide-down;
    /* The duration of the animation */
    animation-duration: 2s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-webkit-keyframes slide-dowm {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

.slide-x-1 {
    animation-name: slideX;
    -webkit-animation-name: slideX;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
.slide-x-2 {
    animation-name: slideX;
    -webkit-animation-name: slideX;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    visibility: visible;
}
.slide-x-3 {
    animation-name: slideX;
    -webkit-animation-name: slideX;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    visibility: visible;
}

@keyframes slideX {
    0% {
        opacity: 0;
        -webkit-transform: translateX(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}
@-webkit-keyframes slideX {
    0% {
        opacity: 0;
        -webkit-transform: translateX(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

#back-to-top {
    position: fixed;
    bottom: 0%;
    right: 5%;
    z-index: 9999;
    width: 50px;
    height: 60px;
    text-align: center;
    line-height: 30px;
    background: #2e8bcc;
    color: #fff;
    cursor: pointer;
    border-style: solid; 
    border-color: #2e8bcc;
    border-radius: 0px;
    text-decoration: none;
    transition: opacity 0.5s ease-out;
    opacity: 0;
    font-size: 30px;
    outline-width: 0px;
}
#back-to-top:hover {
    background: #fff;
    color: #2e8bcc;
}

#back-to-top.show {
    opacity: 1;
}

.btn-circle {
  background: #2e8bcc;
  color: #fff;
  width: 80px;
  height: 80px;
  font-size: 25px;
  line-height: 1.33;
  border-radius: 40px;
}

.btn-circle:hover {
  color: #fff;
  box-shadow: 10px 10px 5px #222;
}



