/**
* App styles
*
**/
body {
  padding-top: 50px;
  margin-bottom: 150px;
  z-index: 0;
}

.section-main {
  background-color: #fff;
  box-shadow: 0px 10px 5px #255 !important;
}

.section-main-list {
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 10px 5px #255 !important;
}

.section-main-form {
  background-color: #fff;
  width: 100%;
}

.jumbotron {
  background-image: url(../images/lamp.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;

}

@media (min-width: 768px) {
  .container-fluid {
    width:100%
  }
}

@media (min-width: 992px) {
  .container-fluid {
    width:100%
  }
}

@media (min-width: 1400px) {
  .container,
  .container-fluid {
    width:1370px;
  }
}

/* Forms styles */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* List styles */
.list-section {
  background: url(../images/harmony.jpg) no-repeat center center fixed;
  background-size: cover;
}

.list-box {
  min-height: 193.328px;
  min-width: 193.328px;
  border-radius: 0px ;
  cursor: pointer;
  box-shadow: 10px 10px 5px #222;
}

.list-box-disabled {
  min-height: 193.328px;
  min-width: 193.328px;
  border-radius: 0px ;
  background-color: #e0e0e0;
  box-shadow: 10px 10px 5px #222;
}

.link-text {
  position: absolute;
  left: 35px;
  top: 15px;
  right: 15px;
}

.link-text-hidden {
  position: absolute;
  left: 35px;
  top: 15px;
  right: 15px;
  display: none;
}

.list-box:hover,
.list-box:focus,
.list-box:active,
.list-box-disabled:hover,
.list-box-disabled:focus,
.list-box-disabled:active {
 background-color:  #b4ac98;
}


.list-box:hover .link-text,
.list-box:focus .link-text,
.list-box:active .link-text,
.list-box-disabled:hover .link-text,
.list-box-disabled:focus .link-text,
.list-box-disabled:active .link-text {
 display: none;
}

.list-box:hover .link-text-hidden,
.list-box:focus .link-text-hidden,
.list-box:active .link-text-hidden,
.list-box-disabled:hover .link-text-hidden,
.list-box-disabled:focus .link-text-hidden,
.list-box-disabled:active .link-text-hidden {
 padding: 14px;
 text-decoration: none;
 display: block;
 color: ;
}

/* Footer */
.footer {
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  background-color: #888;
  height: 150px;
}

.container-fluid .text-muted {
  padding-right: 20px;
  padding-top: 20px;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 20px;
}

.table-panel {
  border-radius: 0 !important;
}


/* Tables */
table {
  width: 100%;
  min-width: 600px;
}

thead, tbody, tr, td, th { 
  display: block; 
  
}
td, th {
  overflow-x: hidden;
  text-align: center;
}

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 50px;
}

tbody {
  height: 350px;
  overflow-y: auto;
}


tbody td, thead th {
  width: 16.6%;
  float: left;
}

.td-overflow {
  overflow: auto !important;
  text-align: left !important;
}
