	<section class="list-section">
		<div class="container">
		<br>

		<div class="row">
			<div class="col-md-2">
				<div class="col-md-12">
					<a  href="#/list/L02/current">
						<span class="thumbnail list-box">
							<h4  class="link-text">Nasdaq</h4>
						</span>
					</a>
				</div>
			</div>
			<div class="col-md-2">
				<div class="col-md-12">
					<a  href="#/list/L01/current">
						<span class="thumbnail list-box">
							<h4  class="link-text">FTSE Italia All-Shares</h4>
						</span>
					</a>
				</div>
			</div>
			<div class="col-md-2">
				<div class="col-md-12">
					<a  href="#/list/L03/current">
						<span class="thumbnail list-box">
							<h4  class="link-text">NY Stock Exchange</h4>
						</span>
					</a>
				</div>
			</div>
			<div class="col-md-2">
				<div class="col-md-12">
					<a  href="#/list/L04/current">
						<span class="thumbnail list-box">
							<h4  class="link-text">Euronext CAC40</h4>
						</span>
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2">
				<div class="col-md-12">
					<div class="thumbnail list-box-disabled" >
						<div class="caption">
							<h4>Frankfurt DAX</h4>
							<div class="list-button">
								<button type="button" class="btn btn-primary pull-right" >Activate</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="col-md-12">
					<div class="thumbnail list-box-disabled" >
						<div class="caption">
							<h4>FTSE London All-Shares</h4>
							<div class="list-button">
								<button type="button" class="btn btn-primary pull-right" >Activate</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	</section>