<div class="app-section jumbotron">
	<div ng-if="dataLoading" class="loading">
		<div class="sk-cube-grid">
			<div class="sk-cube sk-cube1"></div>
			<div class="sk-cube sk-cube2"></div>
			<div class="sk-cube sk-cube3"></div>
			<div class="sk-cube sk-cube4"></div>
			<div class="sk-cube sk-cube5"></div>
			<div class="sk-cube sk-cube6"></div>
			<div class="sk-cube sk-cube7"></div>
			<div class="sk-cube sk-cube8"></div>
			<div class="sk-cube sk-cube9"></div>
		</div>
	</div>

	<div class="container" ng-if="!dataLoading">
		<br />
		<div ng-if="!isLoggedIn" class="loading">
			<h2 class="bg-info col-md-4 col-md-offset-4">please <a href="#/login">login</a></h2>
		</div>
		<div class="row" ng-if="isLoggedIn" >
			<div class="col-md-3" ng-repeat="activeList in activeLists">
				<div class="col-md-12">
					<a  href="#/list/{{activeList.listId}}/current">
						<span class="thumbnail list-box {{activeList.slide}}">
							<h3  class="link-text">{{activeList.description}}</h3>
							<h3 class="link-text-hidden">Display</h3>
						</span>
					</a>
				</div>
			</div>
		</div>
		<div class="row" ng-if="isLoggedIn" >
			<div class="col-md-3" ng-repeat="inactiveList in inactiveLists">
				<div class="col-md-12">
					<a href="#/activation/{{inactiveList.listId}}">
						<span class="thumbnail list-box-disabled {{inactiveList.slide}}">
							<h3 class="link-text">{{inactiveList.description}}</h3>
							<h4 class="link-text-l2">Inactive</h4>
							<h3 class="link-text-hidden">Activate</h3>
						</span>
					</a>
				</div>
			</div>
		</div>
		<br />
	</div>
</div>

