<div class="row">
	<div class="col-sm-2">
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation" class="active"><a href="#/app">My Lists</a></li>
			<li role="presentation"><a href="#/">Virtual Portfolios</a></li>
			<li role="presentation"><a href="#/">My Portfolios</a></li>
			<li role="presentation"><a href="#/">User settings</a></li>
		</ul>
	</div>
	<div class="col-sm-10">
		<div class="row">
			<div class="col-sm-3">
				<div class="thumbnail list-market-box-1">
					<div class="caption">
						<h3>US Markets</h3>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-4">
						<div class="thumbnail list-box">
							<div class="caption">
								<a  href="#/list/nasdaq/current"><h4>Nasdaq</h4></a>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="thumbnail list-box-disabled">
							<div class="caption">
								<h4>NY Stock Exchange</h4>
								<br><br>
								<button type="button" class="btn btn-primary pull-right">Buy</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="thumbnail list-market-box-2">
					<div class="caption">
						<h3>Europe Eurozone</h3>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-4">
						<div class="thumbnail list-box-disabled">
							<div class="caption">
								<h4>German Stock Index</h4>
								<br><br>
								<button type="button" class="btn btn-primary pull-right">Buy</button>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="thumbnail list-box">
							<div class="caption">
								<a href="#/list/milano/current"><h4>FTSE Italia All-Shares</h4></a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div class="thumbnail list-box-disabled">
							<div class="caption">
								<h4>Euronext</h4>
								<br><br>
								<button type="button" class="btn btn-primary pull-right">Buy</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="thumbnail list-market-box-1">
					<div class="caption">
						<h3>Europe Not Eurozone</h3>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-4">
						<div class="thumbnail list-box-disabled">
							<div class="caption">
								<h4>FTSE All-Shares</h4>
								<br><br>
								<button type="button" class="btn btn-primary pull-right">Buy</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

