<div class="app-section jumbotron">
<div ng-if="dataLoading" class="loading">
	<div class="sk-cube-grid">
		<div class="sk-cube sk-cube1"></div>
		<div class="sk-cube sk-cube2"></div>
		<div class="sk-cube sk-cube3"></div>
		<div class="sk-cube sk-cube4"></div>
		<div class="sk-cube sk-cube5"></div>
		<div class="sk-cube sk-cube6"></div>
		<div class="sk-cube sk-cube7"></div>
		<div class="sk-cube sk-cube8"></div>
		<div class="sk-cube sk-cube9"></div>
	</div>
</div>
	<div class="container" ng-if="!dataLoading">
		<br />
		<div class="row">
			<div class="col-md-3" ng-repeat="portfolio in portfolios">
				<div class="col-md-12">
					<a  href="#/portfoliosStockEleven/{{portfolio.portfolioId}}">
						<span class="thumbnail list-box {{portfolio.slide}}">
							<h3 class="link-text">{{portfolio.description}}</h3>
							<h4 class="link-text-l2">{{portfolio.baseList}}</h4>
							<h3 class="link-text-hidden">Display</h3>
						</span>
					</a>
				</div>
			</div>
		</div>
		<br />
	</div>
</div>

