
      <div class="jumbotron">
        <div class="container">
          <h1>Stock Screener for building your investment portfolio</h1>
          <p>Access to a set of lists of top rated stock quotes according to predefined market analysis criteria and elaborated economic fundamentals valuation</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>FTSE Italia list</h2>
            <p>The FTSE Italia Series provides investors with a comprehensive and complementary set of market-cap weighted indices measuring the performance of Italian companies listed on markets of Borsa Italia. 
            More details: <a href="http://www.ftse.com/products/indices/italia" target="_blank"><strong> FTSE Italia</strong></a></p>
            <p></p><a class="btn btn-default" href="#/list/milano/current" role="button">Access to the list &raquo;</a></p>
            </div>
            <div class="col-md-6">
              <h2>NASDAQ list</h2>
              <p>NASDAQ is the second-largest exchange in the world by market capitalization, behind only the New York Stock Exchange. It includes the world’s foremost technology and biotech giants such as Apple, Google, Microsoft, Oracle, Amazon and Intel.
              More details:<a href="http://www.nasdaq.com" target="_blank"><strong> NASDAQ</strong></a></p>
              <p><a class="btn btn-default" href="#/list/nasdaq/current" role="button">Access to the list &raquo;</a></p>
            </div>
          </div>
        </div> 
